<% @posts.each do |post| %>

    <!-- Single post block -->
    <div class="post_section">
      <!-- Single post / Post title -->
      <div class="post_title">
        <h2><%= post.title %></h2>
      </div>

      <!-- Single post / Content  -->
      <div class="post_content">
        <p><%= post.body %></p>
      </div>
      <!-- Single post / date, author, category  -->
      <div class="post_data">
        <%= link_to 'Show post', post %>
        <%= link_to 'Edit post', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br />
        > December 28, 2048 | <strong>Author:</strong> John | <strong>Category:</strong> <a href="#">Freebies</a>
      </div>
      <div class="post_likes">
        <span >128</span>
      </div>
    </div>

<% end %>