<script type="text/javascript">
    var signed  = "<%= @signed %>";
    var chapter = "<%= @chapter %>";
</script>

<div id="top_header">
  <!-- Top main menu block -->
  <div id="menu">
    <ul class="main">
      <li><%= link_to("Home", {:action => 'index'}, :id => 'header_menu_home' )  %></li>
      <li><%= link_to("Profile", {:action => 'profile'}, :id => 'header_menu_profile' )  %></li>
    </ul>
    <ul>
      <li><a href="#">Users</a></li>
      <li><%= link_to("Help", {:action => 'help'}, :id => 'header_menu_help' )  %> </li>
      <li><%= link_to("Sign in", {:action => 'sign_in'}, :id => 'header_menu_sign_in' )  %></li>
      <li><%= link_to("Sign out", {:action => 'sign_out'}, :id => 'header_menu_sign_out' )  %></li>
    </ul>
  </div>
</div>