<!-- Help Page -->

<div class="help">
  <h1> A Place to Start for the Future Programmer </h1>
  <h5> Try Ruby!</h5>
  <div class="post_title"><p>An interactive tutorial that lets you try out Ruby right in your browser. This 15-minute tutorial is aimed at beginners who want to get a feeling of the language. <%= link_to('link >>',  "http://tryruby.org/levels/1/challenges/0") %> </p> </div>
  <h5> Ruby Koans</h5>
  <div class="post_title"><p>The Koans walk you along the path to enlightenment in order to learn Ruby. The goal is to learn the Ruby language, syntax, structure, and some common functions and libraries. We also teach you culture. <%= link_to('link >>',  "http://rubykoans.com/") %></p></div>
  <h5> RubyMonk </h5>
  <div class="post_title"><p>An unconventional but interesting book that will teach you Ruby through stories, wit, and comics. Originally created by why the lucky stiff, this guide remains a classic for Ruby learners. <%= link_to('link >>',  "http://rubymonk.com/") %></p></div>
  <h5> Ruuby in Twenty Minutes  </h5>
  <div class="post_title"><p>A nice tutorial covering the basics of Ruby. From start to finish it shouldn’t take you more than twenty minutes. <%= link_to('link >>',  "http://hackety.com/") %></p></div>
  <h5> Ruby from Other Languages </h5>
  <div class="post_title"><p>Coming to Ruby from another language? Whether it’s C, C++, Java, Perl, PHP, or Python, this article has you covered! <%= link_to('link >>',  "http://www.ruby-lang.org/en/documentation/ruby-from-other-languages//") %></p> </div>
  <h5> Learning Ruby </h5>
  <div class="post_title"><p>A thorough collection of Ruby study notes for those who are new to the language and in search of a solid introduction to Ruby’s concepts and constructs.<%= link_to('link >>',  "http://rubylearning.com/") %></p> </div>
  <h5> Ruby Essentials   </h5>
  <div class="post_title"><p>Ruby Essentials is a free on-line book designed to provide a concise and easy to follow guide to learning Ruby. <%= link_to('link >>',  "http://www.techotopia.com/index.php/Ruby_Essentials") %></p>    </div>
  <h5> Learn to Program  </h5>
  <div class="post_title"><p>A wonderful little tutorial by Chris Pine for programming newbies. If you don’t know how to program, start here. <%= link_to('link >>',  "http://pine.fm/LearnToProgram/") %></p> </div>
</div>